# {{ ansible_managed }}
ServerName {{ rutorrent_server_name }}
<VirtualHost *:{{ rutorrent_http_port }}>
  {% if rutorrent_ssl_set %}
  RewriteEngine on
  RewriteCond %{SERVER_PORT} !^{{ rutorrent_https_port }}$
  ReWriteRule ^/(.*) https://%{HTTP_HOST}/$1 [NC,R,L]
  {% endif %}
  ServerName {{ rutorrent_server_name }}
  ServerAdmin {{ rutorrent_server_admin }}

  DocumentRoot {{ rutorrent_document_root }}
  <Directory />
    Options FollowSymLinks
    AllowOverride All
  </Directory>
  <Directory {{ rutorrent_document_root }}>
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog /var/log/apache2/error.log
  LogLevel warn
  CustomLog /var/log/apache2/access.log combined

  <Location />
    {% if rutorrent_create_htpasswd %}
    AuthType Basic
    AuthName "rutorrent"
    AuthUserFile "{{ rutorrent_document_root }}/.htpasswd"
    Require valid-user
    {% endif %}
    SetEnv R_ENV "{{ rutorrent_document_root }}"
  </Location>

  SCGIMount /RPC2 {{ rtorrent_scgi_ip }}:{{ rtorrent_scgi_port }}
</VirtualHost>

{% if rutorrent_ssl_set %}
ServerName {{ rutorrent_server_name }}
<VirtualHost *:{{ rutorrent_https_port }}>
  ServerName {{ rutorrent_server_name }}
  ServerAdmin {{ rutorrent_server_admin }}

  SSLEngine on
  SSLCertificateFile {{ rutorrent_ssl_certificate_file }}
  SSLCertificateKeyFile {{ rutorrent_ssl_certificate_key_file }}
  Include {{ certbot_directory }}/options-ssl-apache.conf
  CustomLog /var/log/apache2/ssl_request_log \
    "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

  DocumentRoot {{ rutorrent_document_root }}
  <Directory />
    Options FollowSymLinks
    AllowOverride All
  </Directory>
  <Directory {{ rutorrent_document_root }}>
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog /var/log/apache2/error.log
  LogLevel warn
  CustomLog /var/log/apache2/access.log combined

  <Location />
    {% if rutorrent_create_htpasswd %}
    AuthType Basic
    AuthName "rutorrent"
    AuthUserFile "{{ rutorrent_document_root }}/.htpasswd"
    Require valid-user
    {% endif %}
    SetEnv R_ENV "{{ rutorrent_document_root }}"
  </Location>

  SCGIMount /RPC2 {{ rtorrent_scgi_ip }}:{{ rtorrent_scgi_port }}
</VirtualHost>
{% endif %}
